* {
    margin: 0;
    padding: 0;
  }
  
  $product-container-margin: 3%;
  $product-container-margin-right: 0.1%;
  
  .product-container {
    margin-left: $product-container-margin;
    margin-right: $product-container-margin-right;
  }
  
  .all-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    width: 82%;
    margin-left: 15px;
  }
  
  .filter-width {
    width: 13%;
  
    @media (max-width: 500px) {
      width: 30%;
    }
  }
  