* {
  margin: 0;
  padding: 0;
}

.product-container {
  margin-left: 3%;
  margin-right: 0.1%;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  width: 82%;
  margin-left: 15PX;
}

.filter-width{
    width: 13%;
}

@media (max-width: 500px) {
    .filter-width{
        width: 30%;
    }
}

