@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$primary-font: "Montserrat", sans-serif;
$search-icon: url(../images/searchicon.png);
$search-icon-size: 25px;
$search-input-border-color: #ddd;
$search-input-border-radius: 14px;
$search-input-padding: 14px 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-container-product {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#myInput {
  background-image: $search-icon;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: $search-icon-size $search-icon-size;
  width: 50%;
  font-size: 16px;
  padding: $search-input-padding;
  border: 1px solid $search-input-border-color;
  margin-bottom: 12px;
  border-radius: $search-input-border-radius;
  outline: none;

  &::placeholder {
    color: rgb(172, 170, 170);
  }
}

.logo,
.logo-product {
  font-family: $primary-font;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 2%;
  color: rgb(68, 68, 68);
}

.container {
  background-image: url(../images/cloth.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo-product {
    font-family: $primary-font;
    margin-top: 0px;
    margin-right: 2%;
    order: 1;
    color: rgb(68, 68, 68);
  }

  .search-container-product {
    margin-top: 20px;
    flex-grow: 1;
    text-align: center;
  }

  #myInputProduct {
    background-image: $search-icon;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: $search-icon-size $search-icon-size;
    width: 40%;
    font-size: 16px;
    padding: 8px 15px 8px 15px;
    border: 1px solid $search-input-border-color;
    margin-bottom: 12px;
    border-radius: $search-input-border-radius;
    outline: none;

    &::placeholder {
      color: rgb(172, 170, 170);
    }
  }
}


@media (max-width: 400px) {
  .container-product {
    padding: 2px;
  }
}