@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-container-product{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
#myInput {
    background-image: url(../images/searchicon.png); /* Add a search icon to input */
    background-position: right 15px center; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 25px 25px;
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 14px 20px 14px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 14px;
    outline: none;
}

#myInput::placeholder {
    color: rgb(172, 170, 170); /* Replace 'your-desired-color' with the color you want */
}

.logo {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 2%;
    color: rgb(68, 68, 68);
}

.logo-product {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 2%;
    color: rgb(68, 68, 68);
}

.container {
    background-image: url(../images/cloth.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed; /* Optional: Makes the background fixed while scrolling */
    width: 100vw;
    height: 100vh;
    margin: 0; /* Remove default margin */
    overflow: hidden;
}

.container-product {
    // display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding for spacing */
}

.logo-product {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-right: 2%;
    order: 1;
    color: rgb(68, 68, 68);
}

.search-container-product{
    margin-top: 20px;
    flex-grow: 1; /* Allow the search container to grow and take available space */
    text-align: center; /* Center the search input */
}

#myInputProduct {
    background-image: url(../images/searchicon.png); /* Add a search icon to input */
    background-position: right 15px center; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 25px 25px;
    width: 40%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 8px 15px 8px 15px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; 
    border-radius: 12px;
    outline: none;
}

#myInputProduct::placeholder {
    color: rgb(172, 170, 170); /* Replace 'your-desired-color' with the color you want */
}